@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

:root {
	--main-color: rgb(0, 183, 255);
	--main-color-hover: rgb(0, 116, 161);
}
body {
	margin: 0;
	text-align: center;
}
h1 {
	font-family: "Poppins", sans-serif;
	font-size: 2rem;
	font-weight: normal;
	color: white;
	margin: 0;
}
h2 {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
}
h3 {
	margin: 0;
	font-size: x-large;
	font-family: "Poppins", sans-serif;
	font-weight: normal;
}
p {
	font-family: "Poppins", sans-serif;
}
nav {
	text-align: center;
	padding: 2rem;
	border-bottom: 2px solid black;
	border-bottom-right-radius: 40px;
	margin-bottom: 3rem;
	background-color: var(--main-color);
}
label {
	font-size: 1.5rem;
	font-family: "Poppins", sans-serif;
}
select {
	display: block;
	width: 62%;
	padding: 0.3rem;
	margin: 1rem auto;
	border: 0.5px solid black;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	color: white;
	background-color: var(--main-color);
}
textarea {
	width: 60%;
	text-align: center;
	resize: none;
	padding: 0.5rem;
	margin: 1rem 0;
	font-family: "Montserrat", sans-serif;
}






.about {
	width: 65%;
	border: 4px double var(--main-color);
	padding: 1.5rem;
	margin: 2rem auto 3rem;
	text-align: center;
}
footer {
	text-align: center;
	margin: 0;
	border-top: 2px solid black;
	border-top-left-radius: 40px;
	padding: 1.3rem;
	background-color: var(--main-color);
	color: white;
}
footer p {
	margin: 0;
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
}
a {
	margin: 0 2.2rem;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	color: white;
}
a:hover {
	color: var(--main-color-hover);
}










.btn {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.btn > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.btn > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.btn > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.btn > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.btn > div .folder:before, .btn > div .folder:after,
.btn > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.btn > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.btn > div .folder:after,
.btn > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.btn > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.btn > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.btn > div .folder .paper:before, .btn > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.btn > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.btn > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.btn > div .pencil:before, .btn > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.btn > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.btn > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.btn:before, .btn:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  transition: transform 0.3s;
}

.btn:after {
  --r: 45deg;
}

.btn:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}

